/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 11 oct. 2022, 10:27:04
    Author     : dylan.esculier
*/

a {
    color: #ff9933;
    text-decoration: none;
}
a:hover{
    color: #ff9933;
    text-decoration: none;
}
.nav-pills > li.active > a,.nav-pills > li.active > a:hover,.nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #ff9933;
}
